.main{
	width:100%;
	height:auto;
	.jquery-accordion{
		text-align:center;
		width:25%;
		margin:auto;
		.khoi{
			margin-top:20px;
			h3{
				font-size:25px;
				padding:5% 6%;
			}
			.noidung{
				padding: 10px 12px;
				border: 1px #212121 solid;

			}

		}

	}
}